<h2>All address</h2>
<table id = "address">  
        <tr>
            <th>Address ID</th>
            <th>Building Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let address of allAddresses">
            <td>{{address.addressId}}</td>
            <td>{{address.buildingName}}</td>
            <td>{{address.city}}</td>
            <td>
                <button (click) = "showDetails(address.addressId)">Details</button>
                
                <button (click) = "updateAddress(address.addressId)">Update</button>



                <button (click) = "deleteAddress(address.addressId)">Delete</button>
            </td>
        </tr>
    
</table>